body {
    overflow: auto !important;
}

.circular
{
    width: 40px;
    height: 40px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;

}

.circular1
{
    width: 80px;
    height: 80px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.circular2
{
    width: 50px;
    height: 50px;
}
#users #content .content-wrapper .users-list .user .avatar img
{
    border-radius: 0%;
    max-width: 100px;
    max-height: 50px;
}

#users #content .content-wrapper .users-list .headers .header label a:hover
{
    background: none !important;
}

#users #content .content-wrapper .users-list .user .name,
#users #content .content-wrapper .users-list .user .total-spent
{
    top: 15px;
}

.users-grid .game,
.users-grid .user
{
    margin-bottom: 20px;
}

.users-grid .game .name,
.users-grid .user .name
{
    height: 20px;
    overflow: hidden;
}

/*
.users-grid img
{
    width: 100%;
    border: 0 none;
    border-radius: 5px;
    margin-bottom: 5px;
}
*/

.startup_name{//wolkan ilgilenecek
              margin-top: -25px;
              height: 25px;
              overflow: hidden;
              font-weight: 700;
              margin-left:5px;
}
.text-render{
    color:white;
    text-rendering: optimizelegibility;
    text-shadow: 0 0 3px rgba(0,0,0,.8);
}
.text-render:hover{
    text-decoration:underline;
    color:white;
    text-rendering: optimizelegibility;
    text-shadow: 0 0 3px rgba(0,0,0,.8);
}
.startUpClone{
    position: absolute;
    margin-top: 35px;
    margin-left: 60px;
}
.seen{
    background: #f6f7f8;
}
.size{
    color: #A7A7A7;
    width: 8%;
    float: right;
    min-width: 70px;
}

#pictureChange, #coverChange, #backgroundChange, #adsChange
{
    overflow: hidden;
}

.followcolumn {
    padding-top: 9px;
}
.no_data{
    font-size: 120%;
    padding: 80px 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    line-height: 1.5em;
}

.aRq {
    color: #15c;
    text-decoration: none;
}

.box_img_resize{
    max-width: 100%;
    min-width: 100%;
    width: auto;
    height: auto;	
}
.notification_count {
    position: absolute;
    padding: 5px;
    top: -5px;
    left: 38px;
    background-color: red;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

.favourite{
	margin:4px auto;
	width:95px;
	padding-top: 5px;
}
.clone{
	margin:4px auto;
	width:100px;
	padding-top: 5px;
}

/*Pagination*/
.pagination>li> .current,
.pagination>li> .current:hover,
.pagination>li> .current:focus{
    z-index: 2;
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
    cursor: default;
}
/** Bootstrap Edit */
.pagination>li>a, .pagination>li>span {
    padding:0 !important;
}
.pagination>li> .disabled, .pagination>li> .current, .pagination>li> .current:hover, .pagination>li> .current:focus {
    padding:0px 12px !important;
}

.pagination>li>span>a {
    padding: 6px 12px  !important;
}
