.circular {
    width: 40px;
    height: 40px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.circular1 {
    width: 80px;
    height: 80px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
#users #content .content-wrapper .users-list .user .avatar img {
    border-radius: 0%;
    max-width: 100px;
    max-height: 50px;
}
#users #content .content-wrapper .users-list .headers .header label a:hover {
    background: none !important;
}
#users #content .content-wrapper .users-list .user .name, #users #content .content-wrapper .users-list .user .total-spent {
    top: 15px;
}
.game, .user {
    margin-bottom: 20px;
}
.game .name, .user .name {
    height: 20px;
    overflow: hidden;
}
.users-grid img {
    width: 100%;
    border: 0 none;
    border-radius: 5px;
    margin-bottom: 5px;
}