/* Wall */
.right_panel{width:970px !important; float:right;}
.right_panel ul li{ margin:0px !important; padding:0px !important}
.wall_leftside{float:left; width:681px;}
.wall_rightside{float:left; width:275px; margin-left:10px; padding-top:10px;}
.upcover{width:681px; height:19px; background-image:url(../img/t_cover_upback.png); background-repeat:no-repeat;}
.midcover{width:663px; padding-left:18px; background-image:url(../img/t_cover_midback.png); background-repeat:repeat-y}
.botcover{width:681px; height:20px; background-image:url(../img/t_cover_botback.png); background-repeat:no-repeat;}
.channeldescviewport{position:absolute; top:80px; width:645px; height:170px; overflow:hidden;}
.channelfeeddescback{width:645px; position: absolute; top:150px; color:white;}
.channelfeeddesc {padding:5px 20px; background-image:url(../img/channelfeeddescback.png); background-repeat:repeat; min-height:25px;}
.showdesc{display:block; width:25px; height:15px; margin-left:15px; background-image:url(../img/descarr.png); background-position:0 0;}
.channeldescinfo{height:100%; font-size:8pt;}
.profilemenu{width:661px; height:17px; margin-top:20px; margin-bottom:10px; padding-right:20px;}
.wall_menu{width:326px; height:17px; float:right;}
.wall_menu li{float:left;}       
.wall_menu .wall_menu_item{height:17px;}

textarea{color: Black; font-family: Arial;font-size: 8pt;}
.profilestatus{margin-bottom:10px;}
.update_button{color:#FFF;font-weight:bold;	border:solid 1px #0c6296;margin-top:10px;cursor:pointer;width:98px; padding-left:60px; padding-top:5px; height:23px; float:right; margin-right:20px; margin-top:10px; background-color:#0a75b6;}
.update_button:hover{color:#FFF;font-weight:bold;border:solid 1px #0c6296;margin-top:10px;cursor:pointer;width:98px; padding-left:60px; padding-top:5px; height:23px; float:right; margin-right:20px; margin-top:10px; background-color:#1e8acb;}

.upstatus{width:681px; height:19px; background-image:url(../img/t_cover_upback.png); background-repeat:no-repeat;}
.midstatus{width:663px; padding-left:18px; background-image:url(../img/t_cover_midback.png); background-repeat:repeat-y}
.midstatus textarea{border:1px solid #BDC7D8; width:642px;}
.botstatus{width:681px; height:20px; background-image:url(../img/t_cover_botback.png); background-repeat:no-repeat;}        
.statussharebtn{width:158px; height:28px; display:block; float:right; margin-right:20px; margin-top:10px; background-image:url(../img/t_status_share.png); background-repeat:no-repeat;}    

.profilefeed{width:681px;}
.upfeed{width:681px; height:18px; background-image:url(../img/t_cover_upback.png); background-repeat:no-repeat;}
.midfeed{width:663px; padding-left:18px; background-image:url(../img/t_cover_midback.png); background-repeat:repeat-y}
.botfeed{width:681px; height:18px; background-image:url(../img/t_cover_botback.png); background-repeat:no-repeat; background-position:0 -2px;}
.feedcontentleft{float:left; width:70px;}
.feedcontentright{float:left; width:575px;}
.feedavatarback{width:54px; height:70px; padding:3px; background-image:url(../img/t_wall_feed_avatar_back.png); background-repeat:no-repeat;}
.feedavatarback img{width:50px; height:66px;}
.feedcontentusername{font-family:Arial; font-size:9pt; color:#3B5998; font-weight:bold;}
.feedcontenttitle{word-wrap: break-word; font-family:Arial; font-size:8pt; color:Black; display:block; width:510px; min-height:35px;}
.feedcommentbtn{font-family:Arial; font-size:8pt; color:#3B5998;}
.feedcommentsep{font-family:Arial; font-size:8pt; color:#3B5998;}
.feedtime{font-family:Arial; font-size:8pt; color:#999999;}
.feedcontent{margin-top:15px; margin-bottom:10px; width:510px;}
.feedcomments{width:510px;}
.feedcommentitem{width:510px; background-color:#EDEFF4; margin-top:2px;}
.commentleft{float:left;}
.commentright{float:left; width:450px;}
.commentavatarback{width:36px; height:40px; padding:3px; margin:5px; background-image:url(../img/t_wall_comment_avatar_back.png); background-repeat:no-repeat;}
.commentavatarback img{width:30px; height:40px;}
.commentusername{font-family:Arial; font-size:9pt; color:#3B5998; font-weight:bold;}
.comment{border:none; word-wrap: break-word; font-family:Arial; font-size:8pt; color:Black; width:510px; min-height:35px;}
.commenttime{font-family:Arial; font-size:8pt; color:#999999; display:block; margin-top:3px; margin-bottom:3px;}
.commentarea{margin-top:6px; border:1px solid #BDC7D8; width:444px;}
.commentbtn{color:#FFF;display:block; float:right; margin:5px; font-weight:bold; border:solid 1px #0c6296;cursor:pointer; padding-left:23px; width:85px;padding-top:5px; height:21px; float:right; background-color:#0a75b6;}
.bootcommentbtn{color:#FFF;display:block; float:right; font-weight:bold; border:solid 1px #0c6296;cursor:pointer; width:85px;padding-top:5px; height:21px; float:right; background-color:#0a75b6;}
.commentbtn:hover{color:#FFF;display:block; float:right; margin:5px; font-weight:bold; border:solid 1px #0c6296;cursor:pointer; padding-left:23px; width:85px;padding-top:5px; height:21px; float:right; background-color:#1e8acb;}
.feedplaybtn{font-family:Arial; font-size:8pt; color:#3B5998;}
.feedcommentarea{width:510px; background-color:#EDEFF4; margin-top:2px;}
.feedgameavatar{float:left;}
.feedgamedesc{float:left; margin-left:20px;}
.feedgamedesctitle{font-family:Arial; font-size:9pt; color:#3B5998; font-weight:bold; display:block; margin-bottom:5px;}
.feedgamedescdesc{font-family:Arial; font-size:8pt; color:Black; width:290px; display:block; min-height:50px;}
.feedchannelavatar{float:left; margin-left:30px; margin-right:30px;}
.feedchanneldesc{float:left; margin-left:20px;}
.feedchanneldesctitle{font-family:Arial; font-size:9pt; color:#3B5998; font-weight:bold; display:block; margin-bottom:5px;}
.feedchanneldescdesc{font-family:Arial; font-size:8pt; color:Black; width:290px; display:block; min-height:50px;}
.feedchannelanalytics{font-family:Arial; font-size:9pt; color:#3B5998; font-weight:bold; display:block; margin-bottom:5px; margin-top:10px;}
.feedchanneldesc ul li{font-family:Arial; font-size:8pt; color:Black;}
.feedimagepreview{border:none;}
.feedimage{border:none; border-style:none; margin-left:20px; width:20%; height:20%; float:left;}
.showmorebtn{margin-top:10px; font-family:Arial; font-size:10pt; color:#3B5998; font-weight:bold; cursor:pointer;}
.showmoreleft{float:left; width:10px; height:47px; background-image:url(../img/t_feedshowmoreleft.png); background-repeat:no-repeat;}
.showmoremid{float:left; width:660px; height:47px; background-image:url(../img/t_feedshowmoremid.png); background-repeat:repeat-x; padding-top:15px;}
.showmoreright{float:left; width:10px; height:47px; background-image:url(../img/t_feedshowmoreright.png); background-repeat:no-repeat;}

.recommendedheader{height:20px; width:145; background-image:url(../img/t_recommended_wall.png); background-repeat:no-repeat;}
.sponsorlinksheader{height:21px; width:124; background-image:url(../img/t_sponsorlinksheader.png); background-repeat:no-repeat; margin-top:50px;}
.sponsorlinkscontent{margin-top:15px; margin-left:5px;}
.bestgamesheader{height:16px; width:104px; background-image:url(../img/t_bestgamesfeedheader.png); background-repeat:no-repeat; margin-top:30px;}
.bestgamescontent{margin-left:17px; margin-top:10px;}
.feedleftsep{width:260px; height:2px; background-image:url(../img/t_feedleftsep.png); background-repeat:repeat-x; margin-top:10px;}
.subcard {width:265px; height:120px; margin-top:20px; margin-right:10px; margin-bottom:30px; margin-left:0px!important;}
.gamebox{margin-top:10px;}

.morebox{font-weight:bold; text-align:center;border:solid 1px #333333;margin-top:8px;margin-bottom:8px;display:block;font-size:13px;width:673px; margin-left:3px;}
.morebox a{text-decoration:none; padding:8px;  display:block; background-color:#0a75b6; color:#FFF!important; }
.morebox a:hover{ text-decoration:none; background-color:#1e8acb; color:#FFF!important;}

#addgame_container
{
overflow:auto; padding:10px;width:622px; font-size:11px;display:none;
}
.inputborder{border:1px solid #BDC7D8; width:510px;}
.walladdgamedesc{width:510px !important; height:30px !important;}
.selectinputborder{border:1px solid #BDC7D8;}
#camera{background-image:url(../img/wall/icons/camera.png); width:30px; height:28px; display:block; margin-right:5px; margin-top:10px; border: 1px solid #0C6296; float:right;}
#addgame_button{background-image:url(../img/wall/icons/game_pad_new.png); width:30px; height:28px; display:block; margin-right:5px; margin-top:10px; border: 1px solid #0C6296; float:right;}
#addgame_btn{background-image:url(../img/wall/icons/game_pad_new.png); width:30px; height:28px; display:block; margin-right:5px; margin-top:10px; border: 1px solid #0C6296; float:right;}
#my_channel{color:#FFF; font-weight:bold; border:solid 1px #0c6296; margin-top:10px; cursor:pointer; width:98px; padding-left:25px; padding-top:5px; height:23px; float:right; margin-right:5px; margin-top:10px; background-color:#0a75b6; float:right;}
#my_channel:hover{color:#FFF; font-weight:bold; border:solid 1px #0c6296; margin-top:10px; cursor:pointer; width:98px; padding-left:25px; padding-top:5px; height:23px; float:right; margin-right:5px; margin-top:10px; background-color:#1e8acb; float:right; text-decoration:none;}