.left_panel{width:250px; float:left;}
.left_panel .sep{width:100%; background-image:url(../img/t_sep_back.png); height:3px; margin-bottom:10px;}
.left_panel ul li{height:21px; padding-left:40px; padding-top:4px;}
.left_panel ul .even{background-image:url(../img/t_ul_odd_li_back.png);}
.left_panel ul li a{color:#0b81c5; font-family:Arial; font-size:15px; text-decoration:none;} 
.left_panel ul li a:hover{text-decoration:underline;} 
.categories{background-image:url(../img/t_category_back.png); margin-top:6px; padding-top:60px; background-repeat:no-repeat;}
.best{background-image:url(../img/t_best_channel_back.png); margin-top:30px; padding-top:60px; background-repeat:no-repeat;}

.right_panel{width:985px; float:right; margin-left:20px;}
.right_panel .sep{width:100%; background-image:url(../img/t_sep_back.png); height:3px; margin-bottom:20px;}
.right_panel ul .odd{height:100px; padding-left:20px; margin-top:10px;}
.right_panel ul .even{height:100px; padding-left:20px; margin-top:10px; background-image:url(../img/t_ul_odd_li_back.png); padding-top:5px;}
.favoritegames{background-image:url(../img/t_favoritegames_back.png); background-repeat:no-repeat; width:100%; height:53px; margin-bottom:10px;}  