*{margin:0px; padding:0px; border:none;}
body{background-image:url(../img/t_background.jpg); background-repeat:repeat-x repeat-y;}
textarea:focus, input:focus{
    outline: none;
}

.clearfix:after {content: "."; display:block; clear:both; visibility: hidden; line-height: 0; height: 0; }
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}

ul{list-style-type:none;}

.header{background-image:url(../img/t_hd.png); height:53px; width:100%; position:fixed; top:0; left:0; z-index:900; left:0px; top:0px; background-repeat:repeat-x; }
.hd_container{height:50px;width:1265px;margin:auto;}
.hd_container table td { height:50px; vertical-align:middle; }
.logo{height:31px;min-width:249px;width:auto !important;width:249px;}
.search{background-image:url(../img/t_search_bar.png); height:35px; width:419px;}
.search_text {border:none; background-color:transparent; width:270px; font-size:16px; float:left; color:#b8d6e7; font-style:italic; margin:7px 0 0 20px;}
.search_button {display:block; background:url(../img/t_search_btn.png); float:right; width:112px; height:31px; margin:2px 2px 0 0;}
.menu{background-image:url(../img/t_hd_menu_back.png); height:32px; width:441px; padding:2px 2px 2px 2px;}
.menu_container{position:relative;height:36px; z-index:10;}
.pointer{background-image:url(../img/t_menu_pointer.png); z-index:-1; position:absolute; overflow:hidden; left:0px; height:25px; width:96px; padding:6px 0 0 16px;}
.menu_up{background-image:url(../img/t_menu_up.png); height:20px; width:398px; position:relative;}
.menu a{display:block; float:left; width:90px; height:31px;margin:0 9px 0 9px;}
.logout_btn{display:block; width:59px; height:35px; background-image:url(../img/t_logout_btn.png);}
.login_btn{display:block; width:59px; height:35px; background-image:url(../img/t_loginlock_btn.png);}
.content{padding-top:60px; width:1265px; margin:0 auto 60px auto;}
input.error{border:1px solid red;}
.error_copy { position:absolute;font-size:13px;height:17px;line-height:17px;color:red;overflow:hidden;width:305px; }
a.error { color:red !important; }

.seeall_best{display:block; font-family:Arial; margin-top:28px; margin-right:9px; font-size:11px; text-decoration:none; float:right; color: #06C;}
.seeall_best:hover {text-decoration:underline;}	

#fbLogin{
background:url(../img/fbLogin.png);
width:206px;
height:40px;
}	

#fbLogin:hover{
background:url(../img/fbLoginHover.png);
width:206px;
height:40px;
}	