        
    /* Register box's const */
.margin_fix{margin-left:16px; width:308px;}/* fix ie margin bug */
.t_regbox_overlay{margin:0; padding:0; position:absolute; z-index:1000; top:0px; left:0px; background-image:url(../img/new_reg/t_regbox_overlay_back.png);}
.t_regbox{width:364px;}
.t_regbox input{margin-top:4px; margin-left:7px; width:262px; border:0; color:#0066CC; background-color:transparent;}
.t_regbox span{display:block; font-family:Verdana; color:#0066CC; font-size:8pt; margin-top:5px;}
.t_regbox_btn{width:119px; height:37px;}
        
/* Register box's top*/
.t_regbox_top{width:364px; height:58px; background-image:url(../img/new_reg/t_regbox_top.png); padding-top:15px;}
.t_regbox_clsbtn{display:block; width:21px; height:21px; margin-left:329px;}        
        
/* Register box's mid*/
.t_regbox_mid{width:364px; min-height:360px; height:auto !important; height:360px; background-image:url(../img/new_reg/t_regbox_mid.png); background-repeat:repeat-y; }
.t_regbox_social{padding-left:30px;}
.t_regbox_tabs{width:340px; height:38px; background-image:url(../img/new_reg/t_regbox_tabs.png); margin-left:12px; margin-top:10px; background-position:-4px -0px;}
.t_regbox_regtab{display:block; float:left; width:150px; height:33px; margin-left:20px; margin-top:3px;}
.t_regbox_logtab{display:block; float:left; width:147px; height:33px; margin-left:5px; margin-top:3px;}
        
.t_regbox_errbox_container{width:234px; position:relative; top:0px; left:330px; display:none;}
.t_regbox_errbox_left{width:7px; height:10px; float:left; margin-top:20px; background-image:url(../img/new_reg/t_regbox_errbox_midleft.png);}
.t_regbox_errbox_right{width:227px; float:right;}
.t_regbox_errbox_top{width:227px; height:5px; background-image:url(../img/new_reg/t_regbox_errbox_top.png);}
.t_regbox_errbox_mid{width:227px; background-image:url(../img/new_reg/t_regbox_errbox_midright.png); background-repeat:no-repeat; background-color:#BC1212;}
.t_regbox_errbox_bot{width:227px; height:7px; background-image:url(../img/new_reg/t_regbox_errbox_bot.png);}
.errbox_title{display:block; color:White; font-family:Verdana; width:180px; margin:0px; margin-left:35px; font-size:10pt; font-weight:bold; margin-bottom:5px;}
.errbox_msg{display:block; color:White; font-family:Verdana; width:180px; margin:0px; margin-left:35px; font-size:7pt;}
        
.t_regbox_signmask{min-height:250px; height:auto !important; height:250px; width:340px; margin-left:12px; position:absolute; overflow:hidden;}
.t_regbox_signform{min-height:250px; height:auto !important; height:250px; position:relative; top:0px; left:0px; width:1030px;}
.t_regbox_regform{margin-left:16px; width:308px; float:left;}
.t_regbox_signusername{width:308px; height:29px; margin-top:10px; background-image:url(../img/new_reg/t_regbox_username.png); background-position:0px -29px;} 
.t_regbox_signemail{width:308px; height:29px; margin-top:10px; background-image:url(../img/new_reg/t_regbox_email.png); background-position:0px 0px;}
.t_regbox_signpass{width:308px; height:29px; margin-top:10px; background-image:url(../img/new_reg/t_regbox_password.png); background-position:0px 0px;}
.t_regbox_signpassagain{width:308px; height:29px; margin-top:10px; background-image:url(../img/new_reg/t_regbox_passwordagain.png); background-position:0px 0px;}
        
#t_regbox_registerbtn{display:block; background-image:url(../img/new_reg/regs.png); margin:20px 0px 5px 192px; background-position:0px 0px}
#t_regbox_registerbtn:hover{display:block; background-image:url(../img/new_reg/regs.png); margin:20px 0px 5px 192px; background-position:0px -37px}
        
.t_regbox_regcapthcaform{width:320px; margin-left:40px; padding-top:10px; float:left;}
.t_regbox_regcapthca{width:307px; height:113px; background-image:url(../img/new_reg/t_regbox_captcha.png); background-position:0px -123px; margin-top:20px; padding-top:10px;}
.recaptcha_response_field{float:left; margin-top:23px; width:149px; height:22px; background-image:url(../img/new_reg/t_recaptha_response_field.png); background-position:0px -22px;}
#recaptcha_image img{width:296px; height:50px; margin-left:5px;}
#recaptcha_audio_play_again{position:absolute; margin-left:10px; top:85px;}
#recaptcha_audio_download{position:absolute; margin-left:10px; top:100px;}
.t_regbox_donebtn{width:119px; height:37px; display:block; background-image:url(../img/new_reg/t_regbox_done.png); margin:28px 0px 5px 192px; background-position:0px 0px}
.t_regbox_donebtn:hover{display:block; background-image:url(../img/new_reg/t_regbox_done.png); margin:28px 0px 5px 192px; background-position:0px -37px}
        
.t_regbox_regcongrats{margin-left:35px; width:308px; float:left; margin-top:30px;}
        
.t_regbox_logmask{min-height:250px; height:auto !important; height:250px; width:340px; margin-left:12px; position:absolute; overflow:hidden; display:none;}
.t_regbox_logform{min-height:250px; height:auto !important; height:250px; position:relative; top:0px; left:0px; width:700px;}
.t_regbox_loginform, .t_regbox_rememberform{margin-left:16px; width:320px; float:left;}
.t_regbox_logusername {width:308px; height:29px; margin-top:10px; background-image:url(../img/new_reg/t_regbox_email_username.png); background-position:0px -29px;}
.t_regbox_logpassword {width:308px; height:29px; margin-top:10px; background-image:url(../img/new_reg/t_regbox_pass.png); background-position:0px 0px;}
.t_regbox_logemail {width:308px; height:29px; margin-top:10px; background-image:url(../img/new_reg/t_regbox_email.png); background-position:0px -29px;}
.t_regbox_cancelbtn{width:119px; height:37px; display:block; float:left; margin-left:60px; background-image:url(../img/new_reg/t_regbox_cancel.png); background-position:0px 0px}
.t_regbox_cancelbtn:hover{width:119px; height:37px; display:block; float:left; margin-left:60px; background-image:url(../img/new_reg/t_regbox_cancel.png); background-position:0px -37px}
#t_regbox_loginbtn{display:block; float:right; background-image:url(../img/new_reg/t_regbox_login.png); background-position:0px 0px}
#t_regbox_loginbtn:hover{display:block; float:right; background-image:url(../img/new_reg/t_regbox_login.png); background-position:0px -37px}
        
/* Register box's bot*/
.t_regbox_bot{width:364px; height:14px; background-image:url(../img/new_reg/t_regbox_bot.png);}   