.stars { 
  position: relative; 
  float: left; 
  background: url('star_u.png') repeat-x left top; 
  cursor: default; 
}

.stars .star { 
  height: 32px; 
  padding-left: 32px; 
  background: transparent none repeat-x left top; 
  cursor: pointer; 
}



.stars:hover .star { 
  background-image: url('star_u.png'); 
}
.stars:hover .star:hover {
  background-image: url('star_o.png'); 
}
.stars .rating { 
  position: absolute; 
  height: 100%; 
  background: url('star_d.png') repeat-x left top; 
}


.stars:hover .rating { 
  display: none;
}

.nostars { 
  position: relative; 
  float: left; 
  background: url('star_u24.png') repeat-x left top; 
  cursor: default; 
}
.nostars .star { 
  height: 24px; 
  padding-left: 24px; 
  background: transparent none repeat-x left top; 
  cursor: default; 
}
.nostars .rating { 
  position: absolute; 
  height: 100%; 
  background: url('star_d24.png') repeat-x left top; 
}


/*Favorite Heart*/


.hearts { 
  position: relative; 
  float: right; 
  background: url('heart1.png') repeat-x left top; 
  cursor: default;
  margin-right:20px;
}
.hearts .heart { 
  height: 32px; 
  padding-left: 32px; 
  background: transparent none repeat-x left top; 
  cursor: pointer; 
}
.hearts:hover .heart { 
  background-image: url('heart1.png'); 
}
.hearts:hover .heart:hover {
  background-image: url('heart3.png'); 
}
.hearts .adding { 
  position: absolute; 
  height: 100%; 
  background: url('heart2.png') repeat-x left top; 
}
.hearts:hover .adding { 
  display: none;
}



