@media (max-width: 479px) {
    .caption h3 {
        color: #428BCA;
        font-size: 20px !important;
        height: 25px;
        line-height: normal;
        margin: 0;
        margin: 0 0 5px;
        overflow: hidden;
        text-align: center;
    }
    .yildiz {
        padding-left:50%;
        margin-left: -56px;
        margin-bottom:10px;
    }
    .icon3 {
        padding-right: 20px;
        margin-left: 70px;
        float: right;
    }
    .stars2 {
        margin-left: 17px;
    }
    .notfound {
        color: #323949;
        font-size: 30px;
        padding-top: 50px;
    }
    .darkloader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity:0.5;
        filter:alpha(opacity=50);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .loader {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        color: white;
        font-weight: bold;
        font-size: 10pt;
        padding-top: 40px;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .col-sm-4{
        width:50%;
        float:left;
    }
    .caption h3 {
        color: #428BCA;
        font-size: 15px !important;
        height: 18px;
        line-height: normal;
        margin: 0;
        margin: 0 0 8px;
        overflow: hidden;
        text-align: center;
    }
    .yildiz {
        padding-left:50%;
        margin-left: -56px;
        margin-bottom:10px;
    }
    .icon3 {
        padding-right: 20px;
        margin-left: 70px;
        float: right;
    }
    .stars2 {
        margin-left: 17px;
    }
    .notfound {
        color: #323949;
        font-size: 40px;
        padding-top: 75px;
    }
    .darkloader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity:0.5;
        filter:alpha(opacity=50);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .loader {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        color: white;
        font-weight: bold;
        font-size: 10pt;
        padding-top: 30px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .yildiz {
        padding-left:29.5%;
        margin-bottom:10px;
    }
    .icon3 {
        padding-right: 20px;
        margin-left: 38px;
    }
    .stars2 {
        margin-left: 17px;
    }
    .caption h3 {
        font-size: 15px !important;
        height: 18px;
        color: #428BCA;
        line-height: normal;
        margin: 0 0 8px;
        overflow: hidden;
        text-align: center;
        overflow: hidden;
    }
    .notfound {
        color: #323949;
        font-size: 35px;
        padding-top: 100px;
    }
    .darkloader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity:0.5;
        filter:alpha(opacity=50);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .loader {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        color: white;
        font-weight: bold;
        font-size: 10pt;
        padding-top: 30px;
    }
    .panel-image-preview {
        max-height: 120px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .yildiz {
        padding-left:40.7%;
        margin-bottom:10px;
    }
    .icon3 {
        padding-right: 20px;
    }
    .caption h3 {
        color: #428BCA;
        font-size: 18px !important;
        height: 23px;
        line-height: normal;
        margin: 0 0 5px;
        overflow: hidden;
        text-align: center;
    }
    .notfound {
        color: #323949;
        font-size: 50px;
        padding-top: 100px;
    }
    .darkloader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity:0.5;
        filter:alpha(opacity=50);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .loader {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        color: white;
        font-weight: bold;
        font-size: 15pt;
        padding-top: 40px;
    }
    .panel-image-preview {
        max-height: 161px;
    }
}
@media (min-width: 1200px) {
    .yildiz {
        padding-left:42.7%;
        margin-bottom:10px;
    }
    .icon3 {
        padding-right: 20px;
    }
    .caption h3 {
        color: #428BCA;
        font-size: 20px !important;
        height: 25px;
        line-height: normal;
        margin: 0 0 5px;
        overflow: hidden;
        text-align: center;
    }
    .notfound {
        color: #323949;
        font-size: 80px;
        padding-top: 100px;
    }
    .darkloader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity:0.5;
        filter:alpha(opacity=50);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    .loader {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        color: white;
        font-weight: bold;
        font-size: 15pt;
        padding-top: 50px;
    }
    .panel-image-preview {
        max-height: 198px;
    }
}
/*Stars for 16 px*/
.stars2 { 
    position: relative; 
    float: left; 
    background: url('../../img/rating/star_16_e.png') repeat-x left top; 
    cursor: default;
}
.stars2 .star2 { 
    height: 16px; 
    padding-left: 16px; 
    background: transparent none repeat-x left top; 
}
.stars2 .ratingbar2 { 
    position: absolute; 
    height: 100%; 
    background: url('../../img/rating/star_16_h.png') repeat-x left top; 
}
.thumbnail {
    padding: 0;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}
.thumbnail .panel-image-preview {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;    
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#toolbar h1 {
    margin-top: 11px;
}
/* RENK */
.white{
    color: #fff;
}
.green{
    color: #5cb85c;
}
.blue{
    color: #5bc0de;
}
.darkblue{
    color: #428bca;
}
.orange{
    color: #f0ad4e;
}
.red{
    color: #d9534f;
}
.black{
    color: #000;
}
.lighten{
    color: #000, 33.5%;
}
.cover {
    background-position: center;
    height: 80px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.cover .cover_dark {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    height: 80px;
    width: 100%;
    opacity:0.4;
    filter:alpha(opacity=40);
}
.cover img {
    position: absolute;
    top: 18px;
    left: 16px;
    border: medium white solid;
    z-index: 1;
}
.cover .tit1 {
    position: absolute;
    color: white;
    top: 20px;
    left: 90px;
    font-size: 18px;
    font-weight: bolder;
    z-index: 1;
    text-shadow: 2px 2px black;
    text-decoration: none;
}
.cover .tit2 {
    position: absolute;
    color: white;
    top: 45px;
    left: 90px;
    font-size: 12px;
    z-index: 1;
    text-decoration: none;
}
.demo-social {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 0;
    padding: 15px;
}
.searchbox {
    margin: 10px;
}
.searchbox input {
    border-color: #111B32;
}
.searchbox button {
    background-color: #536EA7;
    border-color: #111B32;
    color: #FFFFFF;
}
.searchbox button:hover {
    background-color: #536EA7;
    border-color: #111B32;
    color: #FFFFFF;
}
.menu_ok li {
    margin-left: -25px;
}
.social_icon_custom {
    padding: 15px;
}
.social_icon_custom a {
    margin-right: 10px;
}
.bt_grp_pad {
    padding: 0 15px;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: #5CB85C;
    border-color: #4CAE4C;
    color: #FFFFFF;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
    background-color: #5BC0DE;
    border-color: #46B8DA;
    color: #FFFFFF;
}
#toolbar {
    background: none repeat scroll 0 0 #323949;
    border-bottom: 1px solid #474D5C;
}
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
.hidden_submit {
    height: 34px;
    width: 38px;
    -moz-opacity: 0.00;
    -khtml-opacity: 0.00;
    opacity: 0.00;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter:alpha(opacity=0);
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0
}
.search_area {
    padding: 10px;
    width: 263px
}
.search_area .form_input {
    width: 245px
}
.deny-scrool-x {
    overflow-x: hidden;
}
.darkloader, .loader {
    display: none;
}