body {
    padding-top: 70px;
    background-image:url("http://image.naldzgraphics.net/2011/03/6-pattern.jpg");
    overflow: auto !important;
}

.container{
    max-width: none !important;
    width: 1024px;
}
.panel-body{
    margin: 0 auto;
    text-align: center;
}
.pic
{
    margin-top:100px; 
    width:120px;
    margin-left:50px;
    margin-bottom:-60px;
}


.circular {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}


.name
{
    position:absolute;
    margin-left:200px;
    font-size:30px;
}
.pull-center{
    text-align:center;
    margin:0 auto;
    width:15%;
}
.dropdown
{
    position:absolute;
}

.change
{
    position:relative; 
    bottom:20px;
    padding:1px;
    color:white;
    text-decoration:none;
}


.change:hover
{
    text-decoration:none;
    background-color:black;
    color:white;
}


.panel-image {
    position: relative;   
}
.panel-image img.panel-image-preview {
    width: 100%;
    height: 108px;
    border-radius: 4px 4px 0px 0px;
}

.panel-image label {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.panel-heading ~ .panel-image img.panel-image-preview {
    border-radius: 0px;
}

.panel-image ~ input[type=checkbox] {
    position:absolute;
    top:- 30px;
    z-index: -1;   
}

.panel-image ~ input[type=checkbox] ~ .panel-body {
    height: 0px;
    padding: 0px;
}

.panel-image ~ input[type=checkbox]:checked ~ .panel-body {
    height: auto;
    padding: 15px;
}

.panel-image ~ .panel-footer a {
    padding: 0px 10px;
    font-size: 1.3em;
    color: rgb(100, 100, 100);
}

/*Colors */
.white{
    color: #fff;
}
.green{
    color: #5cb85c;
}
.blue{
    color: #5bc0de !important;
}
.darkblue{
    color: #428bca;
}
.orange{
    color: #f0ad4e;
}
.red{
    color: #d9534f;
}
.black{
    color: #000;
}
.lighten{
    color: #000, 33.5%;
}

.imagehover {
    position:relative;
    overflow:hidden;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:30px;
    padding:1%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.showme{ 
    display: none;
}
.showhim:hover .showme{
    display : block;
}
.rating{
    float: left;
    width: 125px;
    height: 30px;
    margin-top: 3px
}
.rating .widget-button{
    font-size:25px;
}

.clone{
    margin-right:10px;
    float: left;
    text-align: center;
}

.clone .widget-button button:hover i {
    color:green;
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
.favourite{
    margin-right:10px;
    float:left;
    text-align: center;
}

.favourite .widget-button button:hover li{
    color:red;
    -webkit-animation: bounce 1s;
    -moz-animation: bounce 1s;
    -o-animation: bounce 1s;
    animation: bounce 1s; 
}
.NextBtn{
    margin-right:10px;
    float:left;
    text-align: center;
}

.NextBtn .widget-button button:hover li{
    -webkit-animation: bounce 1s;
    -moz-animation: bounce 1s;
    -o-animation: bounce 1s;
    animation: bounce 1s; 
}

.CommentBtn{
    margin-right:10px;
    float:left;
    text-align: center;
}

.CommentBtn .widget-button button:hover li{
    color:green;
    -webkit-animation: bounce 1s;
    -moz-animation: bounce 1s;
    -o-animation: bounce 1s;
    animation: bounce 1s; 
}

.ShareBtn{
    margin-right:10px;
    float:left;
    text-align: center;
}

.ShareBtn .widget-button button:hover li{
    color:blue;
    -webkit-animation: bounce 1s;
    -moz-animation: bounce 1s;
    -o-animation: bounce 1s;
    animation: bounce 1s; 
}

div .widget-button{
    display:table-cell;
}


.adscroll {
    width: 200px;
    height: 400px;
    overflow-y: scroll;
}
.adscroll::-webkit-scrollbar {
    width: 12px;
}

.adscroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.adscroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/*--------------Animate.css Code ----------- */

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    60% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    60% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}


/*Stars for 16 px*/
.stars2 { 
    position: relative; 
    float: left; 
    background: url('../../img/rating/star_16_e.png') repeat-x left top; 
    cursor: default; 
}

.stars2 .star2 { 
    height: 16px; 
    padding-left: 16px; 
    background: transparent none repeat-x left top; 
}

.stars2 .ratingbar2 { 
    position: absolute; 
    height: 100%; 
    background: url('../../img/rating/star_16_h.png') repeat-x left top; 
}

.ShareBtn .popover.top{
    margin-top:-25px;
    margin-left:-40px;
}
.popover{
    z-index: 99999;
}
.noti_bubble {
    position:absolute;    /* This breaks the div from the normal HTML document. */
    top: -6px;
    right:-6px;
    padding:1px 4px 1px 4px;
    background-color:red; /* you could use a background image if you'd like as well */
    color:white;
    font-weight:bold;
    font-size:0.55em;

    /* The following is CSS3, but isn't crucial for this technique to work. */
    /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
    /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
}

.pagination>li> .current,
.pagination>li> .current:hover,
.pagination>li> .current:focus{
    z-index: 2;
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
    cursor: default;
}
/** Bootstrap Edit */
.pagination>li>a, .pagination>li>span {
    padding:0 !important;
}
.pagination>li> .disabled, .pagination>li> .current, .pagination>li> .current:hover, .pagination>li> .current:focus {
    padding:0px 12px !important;
}

.pagination>li>span>a {
    padding: 6px 12px  !important;
}

div#profilepicarea {
    display: inline-block;
    margin-bottom: -60px;
    margin-left: 50px;
    margin-top: 100px;
    height: 120px;
    width: 120px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
}

a#changeprofilepic {
    position: absolute;
    top: 180px;
    left: 90px;
    display: none;
}

.game_box_left
{
    float: left;
    margin: 0 0 5px 25px;
}

.game_box_right
{
    float: right;
    margin: 0 25px 5px 0;
}

.collapse
{
    display: block !important;
    border: none !important;
}

.collapse form
{
    border: none !important;
}

#pictureChange, #coverChange, #backgroundChange, #adsChange
{
    overflow: hidden;
}

.under-image {
    min-height: 62px;
}

.nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after {
    clear: none !important;
}

.search_form {
    height: 34px !important;
    padding: 0px !important;
    margin: 8px 0 !important;
}

.no-border {
    border: none !important;
}

#dl{
    width: 400px;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

.spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

.heart {
    animation: beat .25s infinite alternate;
    -webkit-animation: beat .25s infinite alternate;
    -moz-animation: beat .25s infinite alternate;
    -o-animation: beat .25s infinite alternate;
    transform-origin: center;
    margin-right: 4px;
}
@keyframes beat{
    to { transform: scale(1.4); }
}
@-moz-keyframes beat{
    to { transform: scale(1.4); }
}
@-o-keyframes beat{
    to { transform: scale(1.4); }
}
@-webkit-keyframes beat{
    to { transform: scale(1.4); }
}

.mobile-social-share {
    background: none repeat scroll 0 0 #EEEEEE;
    display: block !important;
    min-height: 70px !important;
    margin: 50px 0;
}

body {
    color: #777777;
    font-family: "Lato","Helvetica Neue","Arial","Helvetica",sans-serif;
    font-size: 13px;
    line-height: 19.5px;
}


.mobile-social-share h3 {
    color: inherit;
    float: left;
    font-size: 15px;
    line-height: 20px;
    margin: 25px 25px 0 25px;
}

.btn-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.mobile-social-share ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 61px;
    padding: 0;
}

.share {
    min-width: 17px;
}

.mobile-social-share li {
    display: block;
    font-size: 18px;
    list-style: none outside none;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-top: 3px;
}

.btn-share {
    background-color: #BEBEBE;
    border-color: #CCCCCC;
    color: #333333;
}

.btn-twitter {
    background-color: #3399CC !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-facebook {
    background-color: #3D5B96 !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-facebook {
    background-color: #3D5B96 !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-google {
    background-color: #DD3F34 !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-linkedin {
    background-color: #1884BB !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-pinterest {
    background-color: #CC1E2D !important;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-mail {
    background-color: #FFC90E !important;
    width: 51px;
    color:#FFFFFF!important;
}

.caret {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}
.clear-dropdown-menu{
    min-width: 0 !important; width: 100%;
}
.clear-dropdown-menu li{
    margin:2px 0;
}

.clear-dropdown-menu li a{
    padding:5px 20px !important;
    margin: auto;
}